//
// Header
.highlighted {
  /* margin-left: -33%; */
  margin-top: -20px;
  margin-bottom: 40px;
  max-height: 700px;
  overflow: hidden;
}// --------------------------------------------------
.highlighted p img{
  margin-top: -20%;
margin-right: auto;
margin-left: auto;
width: 100%;
}

.region-header {
  margin-bottom: 20px;
  padding: 0 0;
background-color: $violet-medium;
  .logo{
    display: flex;
    flex-shrink: 0;
    margin-right: auto;
    max-height: 82px;
  }

  > .container{
    display: flex;
    justify-content: space-between;
    > nav{
      display: flex;
      margin-right: -15px;
    }
  }

  .menu-catalog {
    display: none;
    justify-content: space-between;
    width: 100%;
    &__link {
      color: $gray-dark;
      text-transform: uppercase;
      white-space: nowrap;
      font-size: 18px;
      &:before{
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 40px;
        height: 2px;
        background-color: transparent;
        transition: all .2s ease-in-out;
        content: "";
        transform: translateX(-50%);
      }
      &:hover,
      &.is-active{
        &:before{
          background-color: $brand-primary;
        }
      }
    }
    // fix for space between
    &:after{
      display: none;
    }
  }

  // responsive overrides
  @media screen and (min-width: $grid-float-breakpoint) {
    padding: 30px 0 35px 0;
    .menu-catalog {
      display: flex;
    }
  }
}
