.block-views-blockcategories-block-1 h2 {
  /*
  margin-top: -180px;
  margin-bottom: 180px;
  */
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.block-views-blockcategories-block-1 h2 a{
  color: black;

}

.block-views-blockcategories-block-1 img {
  margin-left: auto;
  margin-right: auto;
}
